config SND_S3C24XX_SOC
	tristate "SoC Audio for the Samsung S3CXXXX chips"
	depends on ARCH_S3C2410 || ARCH_S3C64XX || ARCH_S5P64XX
	help
	  Say Y or M if you want to add support for codecs attached to
	  the S3C24XX AC97, I2S or SSP interface. You will also need
	  to select the audio interfaces to support below.

config SND_S3C24XX_SOC_I2S
	tristate

config SND_S3C_I2SV2_SOC
	tristate

config SND_S3C_PCM_SOC
	tristate

config SND_S3C2412_SOC_I2S
	tristate

config SND_S3C64XX_SOC_I2S
	tristate
	select SND_S3C_I2SV2_SOC

config SND_S5P64XX_SOC_I2S
	tristate
	select SND_S3C_I2SV2_SOC

config SND_S3C2443_SOC_AC97
	tristate
	select AC97_BUS
	select SND_SOC_AC97_BUS

config SND_S3C64XX_SOC_PCM
	tristate
	select SND_S3C_PCM_SOC

config SND_S3C24XX_SOC_NEO1973_WM8753
	tristate "SoC I2S Audio support for NEO1973 - WM8753"
	depends on SND_S3C24XX_SOC && MACH_NEO1973_GTA01
	select SND_S3C24XX_SOC_I2S
	select SND_SOC_WM8753
	help
	  Say Y if you want to add support for SoC audio on smdk2440
	  with the WM8753.

config SND_S3C64XX_SOC_WM8580
	tristate "SoC I2S Audio support for WM8580 on SMDK64XX"
	depends on SND_S3C24XX_SOC && (MACH_SMDK6400 || MACH_SMDK6410 || MACH_SMDK6440)
	select SND_SOC_WM8580
	select SND_S3C64XX_SOC_I2S if ARCH_S3C64XX
	select SND_S5P64XX_SOC_I2S if ARCH_S5P64XX
	help
	  Sat Y if you want to add support for SoC audio on the SMDK64XX.

config SND_WM8580_MASTER
	bool "WM8580 Codec is I2S Master"
	depends on SND_S3C64XX_SOC_WM8580
	default n
	help
	  Say Y if you want to run SoC as I2S-Slave and CODEC as I2S-Master.

config  SND_HAVANA_TLV320ADC3101
	tristate "TLV320ADC3101-I2S on Havana"
	depends on SND_S3C24XX_SOC && MACH_HAVANA
	select SND_S3C64XX_SOC_I2S if ARCH_S3C64XX
	select SND_S5P64XX_SOC_I2S if ARCH_S5P64XX
	select SND_SOC_TLV320ADC3101

config  SND_HAVANA_S5M8751
	tristate "S5M8751-I2S on Havana"
	depends on SND_S3C24XX_SOC && MACH_HAVANA
	select SND_S3C64XX_SOC_I2S if ARCH_S3C64XX
	select SND_S5P64XX_SOC_I2S if ARCH_S5P64XX
	select SND_SOC_S5M8751

config  SND_CATANIA_TLV320ADC3101
	tristate "TLV320ADC3101-I2S on Catania"
	depends on SND_S3C24XX_SOC && MACH_CATANIA_S
	select SND_S3C64XX_SOC_I2S if ARCH_S3C64XX
	select SND_S5P64XX_SOC_I2S if ARCH_S5P64XX
	select SND_SOC_TLV320ADC3101

config SND_CATANIA_BC6
	tristate "BC6 support for Catania"
	depends on SND_S3C24XX_SOC && MACH_CATANIA_S
	select SND_S3C64XX_SOC_PCM
	select SND_SOC_BC6
	default n

config SND_HAVANA_BC6
	tristate "BC6 support for Havana"
	depends on SND_S3C24XX_SOC && MACH_HAVANA
	select SND_S3C64XX_SOC_PCM
	select SND_SOC_BC6
	default n

config  SND_CATANIA_S5M8751
	tristate "S5M8751-I2S on Catania"
	depends on SND_S3C24XX_SOC && MACH_CATANIA_S
	select SND_S3C64XX_SOC_I2S if ARCH_S3C64XX
	select SND_S5P64XX_SOC_I2S if ARCH_S5P64XX
	select SND_SOC_S5M8751
	
config  SND_CORDOBA_TLV320ADC3101
	tristate "TLV320ADC3101-I2S on Cordoba"
	depends on SND_S3C24XX_SOC && MACH_CORDOBA
	select SND_S3C64XX_SOC_I2S if ARCH_S3C64XX
	select SND_S5P64XX_SOC_I2S if ARCH_S5P64XX
	select SND_SOC_TLV320ADC3101

config  SND_CORDOBA_S5M8751
	tristate "S5M8751-I2S on Cordoba"
	depends on SND_S3C24XX_SOC && MACH_CORDOBA
	select SND_S3C64XX_SOC_I2S if ARCH_S3C64XX
	select SND_S5P64XX_SOC_I2S if ARCH_S5P64XX
	select SND_SOC_S5M8751

config SND_CORDOBA_ADAU1761
	tristate "ADAU1761-I2S on Cordoba"
	depends on SND_S3C24XX_SOC && MACH_CORDOBA
	select SND_S3C64XX_SOC_I2S if ARCH_S3C64XX
	select SND_S5P64XX_SOC_I2S if ARCH_S5P64XX
	select SND_SOC_ADAU1761

config SND_SEOUL_ADAU1761
	tristate "ADAU1761-I2S on Seoul/Lima"
	depends on SND_S3C24XX_SOC && (MACH_SEOUL || MACH_LIMA)
	select SND_S3C64XX_SOC_I2S if ARCH_S3C64XX
	select SND_S5P64XX_SOC_I2S if ARCH_S5P64XX
	select SND_SOC_ADAU1761

config SND_VENICE_ADAU1761
	tristate "ADAU1761-I2S on Venice"
	depends on SND_S3C24XX_SOC && MACH_VENICE
	select SND_S3C64XX_SOC_I2S if ARCH_S3C64XX
	select SND_S5P64XX_SOC_I2S if ARCH_S5P64XX
	select SND_SOC_ADAU1761

config SND_TORINOS_WM8990
	tristate "WM8990-I2S on TorinoS"
	depends on SND_S3C24XX_SOC && MACH_TORINOS
	select SND_S3C64XX_SOC_I2S if ARCH_S3C64XX
	select SND_S5P64XX_SOC_I2S if ARCH_S5P64XX
	select SND_SOC_WM8990

config SND_TOKYO_DUMMY_CODEC
	tristate "DUMMY-I2S on Tokyo"
	depends on SND_S3C24XX_SOC && (MACH_LIMA || MACH_LIMA_SOUNDWELL)
	select SND_S3C_I2S_V32
	select SND_SOC_DUMMY
	help
	  Say Y if you want to use a dummy codec, for I2S on Tokyo
	

config SND_S3C24XX_SOC_SMDK2443_WM9710
	tristate "SoC AC97 Audio support for SMDK2443 - WM9710"
	depends on SND_S3C24XX_SOC && MACH_SMDK2443
	select SND_S3C2443_SOC_AC97
	select SND_SOC_AC97_CODEC
	help
	  Say Y if you want to add support for SoC audio on smdk2443
	  with the WM9710.

config SND_S3C24XX_SOC_LN2440SBC_ALC650
	tristate "SoC AC97 Audio support for LN2440SBC - ALC650"
	depends on SND_S3C24XX_SOC
	select SND_S3C2443_SOC_AC97
	select SND_SOC_AC97_CODEC
	help
	  Say Y if you want to add support for SoC audio on ln2440sbc
	  with the ALC650.

config SND_SOC_TLV320ADC3101_DSP
	bool "Enable DSP support for TLV320ADC3101"
	default n
	depends on SND_CORDOBA_TLV320ADC3101 || SND_HAVANA_TLV320ADC3101 || SND_CATANIA_TLV320ADC3101
	help
	  Say Y if you want to enable DSP support for
	  the TLV320ADC3101 codec.

config SND_SOC_TLV320ADC3101_DEBUG
	bool "Enable debug output for TLV320ADC3101"
	default n
	depends on SND_SOC_TLV320ADC3101
	help
	  Say Y if you want to enable debug output for
	  the TLV320ADC3101 codec.

config SND_SOC_S5M8751_DEBUG
	bool "Enable debug output for S5M8751"
	default n
	depends on SND_SOC_S5M8751
	help
	  Say Y if you want to enable debug output for
	  the S5M8751 codec.

config SND_SOC_ADAU1761_DEBUG
	bool "Enable debug output for ADAU1761"
	default n
	depends on SND_SOC_ADAU1761
	help
	  Say Y if you want to enable debug output for
	  the ADAU1761 codec.

config SND_SOC_WM8990_DEBUG
	bool "Enable debug output for WM8990"
	default n
	depends on SND_SOC_WM8990
	help
	  Say Y if you want to enable debug output for
	  the WM8990 codec.

config SND_SOC_ADAU1761_INFREQ
	int
	default 256 if SND_SOC_ADAU1761_INFREQ_256FS
	default 512 if SND_SOC_ADAU1761_INFREQ_512FS
	default 768 if SND_SOC_ADAU1761_INFREQ_768FS

choice
	prompt "ADAU1761 INFREQ Select"
	depends on SND_SOC_ADAU1761

config SND_SOC_ADAU1761_INFREQ_256FS
	bool "256*Fs"
	depends on SND_SOC_ADAU1761
	help
	  Say Y here to select a INFREQ of 256*Fs.
config SND_SOC_ADAU1761_INFREQ_512FS
	bool "512*Fs"
	depends on SND_SOC_ADAU1761
	help
	  Say Y here to select a INFREQ of 512*Fs.
config SND_SOC_ADAU1761_INFREQ_768FS
	bool "768*Fs"
	depends on SND_SOC_ADAU1761
	help
	  Say Y here to select a INFREQ of 768*Fs.
endchoice

